/* Game area */
#gameArea{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#background{
    width: 450px;
    min-height: 800px;
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
    border-style: solid;
}

/* Buttons */
#buttonArea{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 750px;
    width: 100%;
}

.buttonStyle{
    width: 25%;
}

#gameControll{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameControll button{
    width: 100px;
    height: 30px;
    top: 400px;
    position: absolute;
}

/* Score and Combo */
#playerFeedback{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

#score{
    z-index: 3;
}

#combo{
    z-index: 3;
}

/* Notes */
.noteStyle{
    width: 112px;
    height: 15px;
    background-color: red;
    position: absolute;
    top: 20px;
    z-index: 2;
}

.noteF{
    margin-left: 112px;
}

.noteJ{
    margin-left: 225px;
}

.noteK{
    margin-left: 338px;
}